*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
.h-wrapper{
    height: 50vh;
}


.h-left{
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: left;
    margin-left: 4rem;
    margin-top: 10rem;
}
.h-left span{
    font-size: 40px;
    font-weight: bold;
}
.h-left span:nth-child(1){
    color: rgb(255, 255, 255);
}
.h-left span:nth-child(2){
    color: orange;
}
.h-left p{
    color: #fff;
}

.h-icons .fa-brands{
    margin-right: 2rem;
    margin-top: 3rem;
    font-size: 40px;
    color: rgb(252, 252, 252);
    transition: 0.3s;
}
.h-icons .fa-brands:hover{
    color: orange;
    cursor: pointer;
    transform: scale(1.08);
}

.h-right img{
    width: 40%;
    transform: translateY(-300px);
    margin-left: 35rem;
    height: 400px;
    border-radius: 20px;
    box-shadow: 3px 3px 15px rgb(255, 255, 255);
}